<!DOCTYPE HTML>
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="js/topChart.js"></script>
	<script src="js/statChart.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/top.css">
</head>
<body id="body">
	<div id="banner">
		<img id="logo" src="img/logo.svg">
		<span id="title">台灣新型冠狀病毒疫情統整</span>
		<a href="https://github.com/RiverCare/severe_pneumonia" target="_blank"><img id="github_cat" src="img/github_cat.svg"></a>
		<a class="button" target="_blank" href="https://nidss.cdc.gov.tw/ch/SingleDisease.aspx?dc=1&dt=5&disease=19CoV">疾管署</a>
		<span class="button" onclick="load(2)">聲明</span>
		<span class="button" onclick="load(0)">統計</span>
	</div>
	<div id="page">
		<div id="top">
			<div class="state">⌘本網頁顯示之疫情資料皆以衛生福利部疾病管制署等政府單位為準（2020年4月6日21時00分更新）</div>
			<div id="top-chart-wrapper1">
				<div id="top-chart-container1"></div>
			</div>
			<div id="top-chart-wrapper2">
				<div id="top-chart-container2"></div>
			</div>
		</div>
		<div id="words">
			<div class="state next">此網站由愛護台灣之程式開發者所架設。</div>
			<div class="state next">所有疫情數據皆以衛生福利部疾病管制署等政府單位為準，希望能讓民眾獲得最新且正確之消息。</div>
			<div class="state next">若附上出處此網站內容皆可轉載，無需詢問作者。</div>
			<div class="state next">由於此網站為臨時架設，若有顯示上的問題，請見諒。</div>
			<div class="state next">另外尚無支援手機介面，以手機瀏覽器瀏覽時請自行放大。</div>
			<div class="state next">感謝各位，作者敬上。</div>
		</div>
	</div>
</body>
<script>
$("#top").hide();
$("#words").hide();

load(0);
function load(page){
	switch(page){
	case 0: //stat
		getTop();
		$("#top").fadeIn(0);
		$("#news").hide();
		$("#words").hide();
		break;
	case 2: //words
		$("#top").hide();
		$("#news").hide();
		$("#words").fadeIn(0);
	}
}

function getTop(){
	$.ajax({
		type : "POST",
		url : "/getTop",
		success : function(res){
			makeTopChart(res);
		},
		error : function(){
			console.log("fail");
		}
	});
}

function getStatView(){
	$.ajax({
		type : "POST",
		url : "/getStatView",
		success : function(res){
		},
		error : function(){
			console.log("fail");
		}
	});
}

function getStat(loc){
	$.ajax({
		type : "POST",
		url : "/getStat",
		data : {loc:loc},
		success : function(res){
			makeStatChart(loc,res);
		},
		error : function(){
			console.log("fail");
		}
	});
}
</script>