<!DOCTYPE HTML>
<head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="js/topChart.js"></script>
	<script src="js/statChart.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/top.css">
</head>
<body id="body">
	<div id="banner">
		<img id="logo" src="img/logo.svg">
		<span id="title">台灣武漢肺炎疫情統整</span>
		<a href="https://github.com/RiverCare/severe_pneumonia" target="_blank"><img id="github_cat" src="img/github_cat.svg"></a>
		<a class="button" target="_blank" href="https://nidss.cdc.gov.tw/ch/SingleDisease.aspx?dc=1&dt=5&disease=19CoV">疾管署</a>
		<span class="button" onclick="load(3)">政府</span>
		<span class="button" onclick="load(2)">聲明</span>
		<span class="button" onclick="load(1)">統計</span>
		<span class="button" onclick="load(0)">首頁</span>
	</div>
	<div id="page">
		<div id="top">
			<div class="state">⌘本網頁顯示之疫情資料皆以衛生福利部疾病管制署等政府單位為準（2020年2月1日06時25分更新）</div>
			<div id="sfcaa87qm7db4mmgbawpep1r81be52g2gfp"></div>
			<script type="text/javascript" src="https://counter4.wheredoyoucomefrom.ovh/private/counter.js?c=aa87qm7db4mmgbawpep1r81be52g2gfp&down=async" async></script>
			<div id="top-chart-wrapper1">
				<div id="top-chart-container1"></div>
			</div>
			<div id="top-chart-wrapper2">
				<div id="top-chart-container2"></div>
			</div>
		</div>
		<div id="stat">
			<div id="stat-view"class="state next"></div>
			<div id="stat-chart-wrapper1">
				<div id="stat-chart-container1"></div>
			</div>
			<div id="stat-chart-wrapper2">
				<div id="stat-chart-container2"></div>
			</div>
		</div>
		<div id="words">
			<div class="state next">此網站由愛護台灣之程式開發者所架設。</div>
			<div class="state next">所有疫情數據皆以衛生福利部疾病管制署等政府單位為準，希望能讓民眾獲得最新且正確之消息。</div>
			<div class="state next">若附上出處此網站內容皆可轉載，無需詢問作者。</div>
			<div class="state next">由於此網站為臨時架設，若有顯示上的問題，請見諒。</div>
			<div class="state next">另外尚無支援手機介面，以手機瀏覽器瀏覽時請自行放大。</div>
			<div class="state next">感謝各位，作者敬上。</div>
		</div>
		<div id="gov">
			<h3 class="state next">2020年1月31日</h3>
			<span class="state next head">疾病管制署</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.335602533146596/3623844827655667/?type=3&theater">[出處]</a>
			<div class="state next">中央流行疫情指揮中心於1月31日修正通報定義：</div>
			<div class="state next">1. 發燒（≧38℃）或急性呼吸道感染並有以下擇一狀況：</div>
			<div class="state next">　（1）中國大陸湖北旅遊史。</div>
			<div class="state next">　（2）接觸自中國大陸湖北返國者，且有發燒或上呼吸道感染。</div>
			<div class="state next">2. 有中國大陸旅遊史及肺炎。</div>
			<hr>
		
			<h3 class="state next">2020年1月31日</h3>
			<span class="state next head">經濟部</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.763966210310224/3624776017562548/?type=3&theater">[出處]</a>
			<div class="state next">1. 兒童口罩今日生產超過10萬片。</div>
			<div class="state next">2. 過去兒童口罩約佔總產能10%，會因應開學需求，持續生產。</div>
			<div class="state next">3. 陳建仁副總統表示：若手邊無兒童口罩，兒童也能使用成人口罩，只需將耳朵上的掛鉤打個小結並把鼻樑片壓好即可使用。</div>
			<hr>
		
			<h3 class="state next">2020年1月30日</h3>
			<span class="state next head">經濟部</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.763966210310224/3624776017562548/?type=3&theater">[出處]</a>
			<div class="state next">年假期間每人口罩限購3片（暫定到2月15日）之說明：</div>
			<div class="state next">1. 超商口罩之銷量已高過平日之42倍。</div>
			<div class="state next">2. 中央流行疫情指揮中心宣布，自1月31日起徵購國內生產的一般醫用及外科手術口罩，目前每日產量約400萬片，未來將提升產能。</div>
			<div class="state next">3. 徵購之400萬片口罩，將由中央流行疫情指揮中心分配，其中140萬片供醫療及防疫公務使用，260萬片則供民生需求。</div>
			<div class="state next">4. 自2月1日起，口罩將統一售價，調降為一片6元。</div>
			<div class="state next">5. 提供民眾購買的口罩，將在四大超商，醫院內或附近的藥妝、藥局、醫材等通路販售。</div>
			<hr>
		
			<h3 class="state next">2020年1月30日</h3>
			<span class="state next head">經濟部</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.335602533146596/3623844827655667/?type=3&theater">[出處]</a>
			<div class="state next">年假期間口罩售價為1片8元之說明：</div>
			<div class="state next">1. 因武漢肺炎疫情，市場需求超過平常之42倍。</div>
			<div class="state next">2. 年假期間之成本較平日高，如加班費為平常之3~4倍。</div>
			<div class="state next">3. 經濟部會召集業者統一價格，後續價格會再調降。</div>
			<hr>
		
			<h3 class="state next">2020年1月28日</h3>
			<span class="state next head">經濟部</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.335602533146596/3615764478463702/?type=3&theater">[出處]</a>
			<div class="state next">1. 1月28日至30日衛福部每日釋出600萬副口罩給四大超商。</div>
			<div class="state next">2. 口罩每人限購三副。</div>
			<div class="state next">3. 初六開工後，口罩廠商皆產線全開。</div>
			<div class="state next">4. 口罩夠用即可，勿囤積。</div>
			<div class="state next">5. 陸續供應470萬副口罩給醫院內或周圍之藥妝通路（康是美、屈臣氏、維康、杏一、耀獅、健康人生）。</div>
			<hr>
		
			<h3 class="state next">2020年1月27日</h3>
			<span class="state next head">疾病管制署</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/TWCDC/photos/a.187029023406/10157792593768407/?type=3&theater">[出處]</a>
			<div class="state next">防範武漢肺炎之口罩配戴時點：</div>
			<div class="state next">1. 有發燒、咳嗽、流鼻涕等呼吸道症狀。</div>
			<div class="state next">2. 進出醫療院所（應全程配戴）。</div>
			<div class="state next">3. 出入通風不良、擁擠密閉之空間。</div>
			<div class="state next">4. 有慢性疾病者。</div>
			<hr>
		
			<h3 class="state next">2020年1月27日</h3>
			<span class="state next head">經濟部</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.335602533146596/3612639758776174/?type=3&theater">[出處]</a>
			<div class="state next">1. 口罩廠商提前開工並增加人力。</div>
			<div class="state next">2. 初三至初五原每日產能79萬副增至93萬副。</div>
			<div class="state next">3. 開工後原每日產能244萬副增至390萬副。</div>
			<div class="state next">4. 行政院已指示防疫期間廠商配合政府生產，若有餘貨全數收購。</div>
			<div class="state next">5. 衛福部今日釋出庫存100萬副口罩至電商、醫材通路。</div>
			<div class="state next">6. 1月28至30日每日各釋出200萬副給藥妝、四大超商等各大通路。</div>
			<div class="state next">7. 各超商總部皆有庫存，因應年假優先增加交通轉運站、醫院周邊門市之供貨。</div>
			<hr>
			
			<h3 class="state next">2020年1月26日</h3>
			<span class="state next head">經濟部</span>
			<a class="state next src" target="_blank" href="https://www.facebook.com/moea.gov.tw/photos/a.335602533146596/3609739909066159/?type=3&theater">[出處]</a>
			<div class="state next">1. 口罩廠商於初二起陸續開工，初三每日產能為79萬副，初六達正常每日產能188萬副。</div>
			<div class="state next">2. 2020年1月24日起停止口罩外銷。</div>
			<div class="state next">3. 衛福部疾管署口罩存量超過4000萬副，已提供四大超商200萬片，每日提供100萬副予各大通路。</div>
			<div class="state next">4. 經濟部已聯繫物流業者，年假時繼續協助出貨。</div>
			<div class="state next">5. 人潮多之超商，有時補貨不及，皆已向總部叫貨。</div>
		</div>
	</div>
</body>
<script>
$("#top").fadeOut(0);
$("#stat").fadeOut(0);
$("#words").fadeOut(0);
$("#gov").fadeOut(0);

load(0);
function load(page){
	switch(page){
	case 0: //top
		getTop();
		$("#top").fadeIn(0);
		$("#stat").fadeOut(0);
		$("#news").fadeOut(0);
		$("#words").fadeOut(0);
		$("#gov").fadeOut(0);
		break;
	case 1: //stat
		getStatView();
		getStat(0);
		getStat(1);
		$("#top").fadeOut(0);
		$("#stat").fadeIn(0);
		$("#news").fadeOut(0);
		$("#words").fadeOut(0);
		$("#gov").fadeOut(0);
		break;
	case 2: //words
		$("#top").fadeOut(0);
		$("#stat").fadeOut(0);
		$("#news").fadeOut(0);
		$("#words").fadeIn(0);
		$("#gov").fadeOut(0);
		break;
	case 3: //gov
		$("#top").fadeOut(0);
		$("#stat").fadeOut(0);
		$("#news").fadeOut(0);
		$("#words").fadeOut(0);
		$("#gov").fadeIn(0);
	}
}

function getTop(){
	$.ajax({
		type : "POST",
		url : "/getTop",
		success : function(res){
			makeTopChart(res);
		},
		error : function(){
			console.log("fail");
		}
	});
}

function getStatView(){
	$.ajax({
		type : "POST",
		url : "/getStatView",
		success : function(res){
			//document.getElementById("stat-view").innerText = "網頁瀏覽人數："+res+"人";
		},
		error : function(){
			console.log("fail");
		}
	});
}

function getStat(loc){
	$.ajax({
		type : "POST",
		url : "/getStat",
		data : {loc:loc},
		success : function(res){
			makeStatChart(loc,res);
		},
		error : function(){
			console.log("fail");
		}
	});
}
</script>